@model MoviesCRUD.Models.ViewModel.MovieDetailsVM
﻿@using MoviesCRUD.Models.ViewModel;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager;

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h1 class="text-center">Movie Details</h1>
    <div class="row mt-4">
        <div class="col-md-4 text-center">
            <img src="~/@Model.Movie.ImagePath" alt="Movie Image" class="img-fluid rounded" width="200" height="200" />
            <p class="mt-2"><strong>Average Rating:</strong> @Model.Movie.AverageRating</p>
            <div name="refresh">
                @if (User.Identity.IsAuthenticated)
                {
                    if (!ViewBag.HasRated)
                    {
                        <partial name="../Rating/_AddRating" model="@Model.Movie.MovieId" />
                    }
                    if (ViewBag.HasRated)
                    {
                        <h4 class="text-success">You have rated: @ViewBag.UserRating</h4>
                    }
                }
            </div>
        </div>
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">Movie Name:</dt>
                <dd class="col-sm-8">@Model.Movie.MovieName</dd>

                <dt class="col-sm-4">Description:</dt>
                <dd class="col-sm-8">@Model.Movie.MovieDescription</dd>

                <dt class="col-sm-4">Genre:</dt>
                <dd class="col-sm-8">@Model.Movie.MovieGenre</dd>
            </dl>
            <div class="text-center">
                <a asp-action="Update" asp-route-id="@Model?.Movie.MovieId" class="btn btn-primary mr-2">Edit</a>
                <a asp-action="UpdateImage" asp-route-id="@Model?.Movie.MovieId" class="btn btn-secondary mr-2">Change Image</a>
                <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
            </div>
        </div>
    </div>

    <hr />
    <center>
        <h2 class="mt-4 mb-3">Comment Section</h2>
    </center>

    @if (User.Identity.IsAuthenticated)
    {
        <partial name="../Comment/_AddComment" model="@Model.Movie.MovieId" />
    }
    else
    {
        <center>
            <h4 class="text-info">Login to comment!</h4>
        </center>
    }

    <div id="commentList">
        <partial name="../Comment/_ViewComment" model="@Model.Comments" />
    </div>
</div>
@section Scripts{
    <script>
            function AddComment() {
                var movieId = $('#MovieId').val();
                var text = $('#commentBox').val();
                $('#commentBox').val('');

                $.ajax({
                    url: '@Url.Action("AddComment", "Comment")',
                    type: 'POST',
                    data: { MovieId: movieId, Text: text },
                    success: function (result) {
                       $('#commentList').html(result);
                       console.log(result);
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }
        $(document).ready(function () {
            $('#AddComment').submit(function (event) {
                event.preventDefault();
                var commentText = $('#commentBox').val().trim();
                if (commentText === '') {
                    $('#commentValidation').text('Please enter a comment.');
                    return false;
                }
                AddComment();

            });
        });
     
        $(document).ready(function () {
            $('input[type="radio"]').click(function () {
                $('#submitRating').show();
            });
        });
        $(document).ready(function () {
            $('#ratingSubmit').click(function (event) {
                event.preventDefault();

                var rating = $('input[name="rating"]:checked').val();
                $('#ratingValue').text(rating);
                var movieId = $('input[name="MovieId"]').val();
                var data = {
                    Value: rating,
                    MovieId: movieId
                };
                $.ajax({
                    url: '@Url.Action("AddRating", "Rating")',
                    type: 'POST',
                    data: data,
                    success: function (response) {
                        // Handle the success response
                        $('#RatingForm').hide();
                        location.reload();
                        //$('[name="refresh"]').load(location.href + '[name="refresh"]');
                        
                    },
                    error: function (xhr, status, error) {
                        // Handle the error response
                        console.log(error);
                    }
                });
            });
        });

        function DeleteComment() {
            var MovieId = $('#MovieId').val();
            var CommentId = $('#CommentId').val();
            $.ajax({
                url: '@Url.Action("DeleteComment", "Comment")',
                type: 'POST',
                data: { MovieId: MovieId, CommentId: CommentId },
                success: function (result) {
                    $('commentBox').text('');
                    $('#commentList').html(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    </script>
    }